@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#292f35;
    --gradient-white-bg:linear-gradient(0deg,#FFF 0%,#edf4Fa 51%,#e5eef7 100%);
    --gradient-color-bg:linear-gradient(180deg,rgb(60, 104, 247)0%,
                                                rgb(64, 133, 223)50%,
                                                rgb(9, 156, 201)100%);
    --main-color:#3c5cc4;
    --font-color:#e9ecf0;
    --hover-box-shadow:rgba(0,0,0,0,19)0px 10px 20px,
                       rgba(0,0,0,0,23)0px 6px 6px;
}
a{
    text-decoration: none;
    color:#ece4e4;
}
body{
    font-family: 'Poppins' sans-serif;
    background:var(--bg-color);
}
/************header***********/
header {
    padding: 15px 8%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header .logo {
    font-size: 1.6rem;
    font-weight: 700;
}

a .logo .matemu{
    background: var(--gradient-color-bg); 
}
nav {
    display: flex;
    align-items: center;
}

nav .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-list .active{
    background-color: var(--gradient-color-bg);
}
nav .nav-list li {
    margin: 0 1rem;
}

nav .nav-list li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--font-color);
}
nav .nav-list li a:hover,
nav .nav-list li a.active {
    background: var(--gradient-color-bg);
    -webkit-background-clip: text;
    color: transparent;
}
.menu{
    display: none;
}

.close-menu {
    display: none;
    cursor: pointer;
}
/* Mobile navigation styles */
.mobile-nav {
    display: none;
    position: fixed;
    top: 7%;
    right: 0;
    width: 100%;
    height: 28vh;
    background-color: rgba(28, 77, 168, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    z-index: 99;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mobile-nav ul {
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 40%;
    
}
.mobile-nav ul li {
    margin: 1rem 0;
}

.mobile-nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #f5ebeb;
    transition: color 0.3s ease-in-out;
    width: 100%;
}

.mobile-nav .close-menu {
    position: absolute;
    top: 50px;
    right: 31px;
    cursor: pointer;
    color: var(--main-color);
}
/* Responsive styles */
@media (max-width: 630px) {
    nav .nav-list {
        display: none;
    }
    .menu {
        display: block;
    }
}

.btn{
    background: var(--gradient-color-bg);
    color: #fff;
    padding:8px 10px;
    border-radius: 5px;
    font-weight: 400;
    transition: all 0.3s ease;

}
.btn:hover,.btn-box .d-CV:hover{
    box-shadow: var(--hover-box-shadow);
}
/*-----------Section----------*/
section .homes{
    padding: 90px 8%;
}
.homes{
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 2em;
    background: var(--bg-color);
    padding-top: 10%;
    margin-bottom: 80px;
}
.dalas-info{
    margin: 3rem ;
    text-align: center;
}

.dalas-info h1{
    color: var(--font-color);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.3rem;
    padding-bottom: 15px;
}
.dalas-info h3{
    font-size: 2rem;
    color: #e9ecf0;
    padding-bottom: 15px;
}
.dalas-info p{
    font-size: 1.2rem;
    font-weight: 300;
    text-wrap:balance;
    color: #e9ecf0;
}
.text-animate h2{
    padding-bottom: 15px;
    color: #e9ecf0;
}

.btn-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 20px;
}
.btn-box .btn{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 200px;
    gap: 8px;
}
.btn-box .d-CV{
    background: var(--gradient-white-bg);
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    color: #000;
    box-shadow: rgba(60, 64, 67, 0.3)0px 1px 2px 0,
                  rgba(60,64,67,0.15)0px 2px 6px 2px;
    transition: 0.3s;              
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 45px;
}
.social-media a{
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
    color: var(--main-color);
    background: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border-radius: 50%;
    z-index: 1;
}
.social-media a:hover{
    background: var(--gradient-color-bg);
    color: #FFF;
}
.Icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-dalas{
    display: flex;
    justify-content: center;
}

.img-dalas img{
    z-index: 1;
    width: 300px;
    height: 400px;
    border-radius:180px;
}

.text h2{
    padding-top: 30px;
    padding-left:30px;
    font-size: bold;
    color: black;
}

/*-------------------portofolio----------------------*/


.projects{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    margin: 5% 0 0 70px;
}
.portfolio .portfolio_header h3{
    padding-top: 70px;
    font-size:2rem;
    text-align: center;
    padding-bottom: 50px;
    color: #e9ecf0;

}
.projects .portfolio_image{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 340px;
    height: 410px;
    background-color: #615f5f;
    border-radius: 20px; 
    transition: 0.2s; 
}

.projects .portfolio_image h3{
    text-align: center;
    color: #e9ecf0;
}
.projects .portfolio_image p{
    text-align: center;
    margin-top: 20px;
    color: #e9ecf0;
    
}
.projects .portfolio_image img{
    border-radius: 10px;
    width: 280px;
    margin: 0 5px 0 5px;
}

.btn-box2{
    display: flex;
    justify-content: center;
    margin: 4rem 30px 3rem 30px;
    gap: 20px;
}

.btn-box2 .Web_btn{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100px;
    gap: 8px;
    background: #FFF;
    padding: 10px 12px;
    border-radius: 5px;
    font-weight: 500;
    color: var(--main-color);
    box-shadow: rgba(60, 64, 67, 0.3)0px 1px 2px 0,
                  rgba(60,64,67,0.15)0px 2px 6px 2px;
    transition: 0.3s;              
}
.btn-box2 .Web_btn:hover{
    background: var(--gradient-color-bg);
    color: #000;
}
/*--------------second about---------------*/

.about .aboutheader{
    text-align: center;
    font-size: 2rem;
    color: #ece4e4;
    padding-top: 70px;
    margin-bottom: 60px;
}
.row{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    justify-content: center;
    margin-top: 100px;
}
.about-col-1{
    display: flex;
    justify-content: center;
}

 .about-col-1 img{
    display: flex;
    justify-content: center;
    width: 350px;
    border-radius: 45px;
}

.about-col-2 p{
    font-size: 1.2rem;
    text-align: left;
    color: #e9ecf0;
}
.about-col-2 .sub-title{
    font-size: 1.6rem;
    font-weight: 400;
    color: #f4f7fc;
    margin-bottom: 30px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color: #e9ecf0;
}
.tab-titles p{
    font-size: 1.3rem;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    
}
.tab-links.active-link::after{
    width: 50px;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    margin-left: -1%;
    color: #e9ecf0;
}
.tab-contents ul li span{
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--main-color)
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*---------------------------contacts-----------------------*/

.contacts{
    height: 100%;
    text-align: center;
    padding: 50px;
    margin-top: 5%;
}
.contact_container{
    max-width: 800px;
    margin: 0 auto;
    
}
.contact_container .contact_header{
    font-size: 36px;
    padding-top: 14px;
    margin-bottom: 20px;
    text-align: center;
    color: #e9ecf0;

}
.contact_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 130px;
    margin-top: 15%;
}
.contact_form{
    text-align: left;
}
.notice{
    font-size: 30px;
    color: #e9ecf0;
    margin-bottom: 25px;
}


.contact_form .form_group_message textarea{
    width: 100%;
    height: 300px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #ffffff;
    color: #333;
    font-size: 1rem;
    text-align: left;
}
textarea{
    height: 300px;
}
label {
    display: block;
    margin-top: 18px;
    color: #e9ecf0;
}
/*input:focus,textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}*/
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #aae9ee;
    border-radius: 10px;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.2s;

}
button:hover{
    background-color: var( --main-color);
    color: #000;


}
.contact_information{
    text-align: left;
}
.contact_information h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #e9ecf0;
}
.contact_information p{
    margin-bottom: 10px;
    color: #e9ecf0;
}
.contact_information i{
    color: var(--main-color);
    margin-right: 10px;
}

/*------------------footer-------------*/
.ftco-section{
    height: 50px;
    width: 100%;
}
.ftco-section .col-md-12 p{
    text-align: center;
    color: #e9ecf0;
}

   
@media screen and (max-width:730px){
/*---------------header-----------------*/
    header{
        max-width:730px;
        justify-content: space-between;
        z-index: 100;
        transition: .3s;
    }

    header .logo{
        font-size: 1.2rem;
        font-weight:700 ;
    }
    header ul{
        display: none;
    }
    .responsive-menu{
        display:block;
        
    }
    
/*--------------------home----------------------*/

    .homes{
        height:100%;
        width:100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 1em;
        margin-bottom: -20px;
        
    }
    .img-dalas{
        padding-top: 70px;
        justify-content: center;
        order: 1;
    }
    .text h2{
        font-size: bold;
        color: black;
    }
    .dalas-info{
        order: 2;
    }
    .dalas-info p{
        color: rgb(252, 243, 243);
        letter-spacing: 1px;
        line-height: 20px;
        font-size: 18px;
        
    }
    
    .container{
        padding:20px;
        margin-left: 10px;
    }
    .contact_wrapper{
        grid-template-columns: 1fr;
    }
    .btn-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin:  15px;
        
    }
    .btn-box .btn{
        justify-content: space-between;
        gap: 8px;
    }
    .social-media{ 
        width: 100%;
        height: 45px;
    }
    .social-media a{
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        color: var(--main-color);
        background: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        border-radius: 50%;
        z-index: 1;
    }
    /*------about----*/ 
    .about{
        padding: -80px;
    }
    
    .about .aboutheader{
        margin-bottom: -60px;

    }
    .row{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 20px; 
       
    }
    
    .about-col-1 img{
        margin: 0;
    }
    
    .sub-title{
        font-size: 60px;
        text-align: center;
        margin-bottom: -30px;
    }
    .tab-titles{
        margin: 10px 0 10px;
    }
    .tab-links{
        font-size: 30px;

    }


    /*---------------------services----------------------*/
   
    .service_content{
        padding: 15% 8%;
        row-gap: 30px;
    }
    .service_header{
        text-align: center;
        font-size: 3rem;
        letter-spacing: 4px;
        margin-left: 190px;
        padding-bottom: 40px;
        
    }
    .card_content{
        display:table-row;
        align-items: center;
        border-spacing: 20%;
        margin-left: 60%;
    }
    .card{
        margin-left: 45%;
        margin-bottom: 10%;
    }
    /*-------------------porfolio---------------------*/
    
    
    .projects{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
            gap: 40px;
            margin-right: 50px;
    }
    .portfolio_image{
        max-width: 270px;
    }
               
    .projects .portfolio_image img{
        width: 250px;
        height: auto;
        display: flex;
        padding-left: 15px;
        justify-content: center;
        
    }
    .projects .portfolio_image h3{
        font-size: 25px;
        margin-bottom: 8px;
    }
    .projects .portfolio_image p{
        font-size: 20px;
    }
   
    /*----------contact------------*/
    
    input, textarea{
        padding: 12px 30px;
        font-size: 15px;
    }
    .form_group{
        margin-bottom: 20px;
    }
    iframe{
        display: flex;
        justify-content: center;
        width: 300px;
    }
    /*-----------footer------------*/

}

@media  screen and (min-width:430px) and (max-width :730px) {
    .portfolio_image{
        margin: auto;
    }
}
@media  screen and (max-width :1280px) {
    
}
@media  screen and (max-width :1526px) {
    
}